# Criado por https://www.toptal.com/developers/gitignore/api/aspnetcore
# Edite em https://www.toptal.com/developers/gitignore?templates=aspnetcore

### ASPNETCore ###
## Ignorar arquivos temporários do Visual Studio, resultados de compilação e
## Arquivos gerados por complementos populares do Visual Studio.

# Arquivos específicos do usuário
*.suo
*.usuário
*.userosscache
*.sln.docstates

# Arquivos específicos do usuário (MonoDevelop/Xamarin Studio)
*.userprefs

# Construir resultados
[Dd]ebug/
[Dd]ebugPublic/
[Rr]liberação/
[Rr]lançamentos/
x64/
x86/
prédio/
[Bb]em/
[Oo]bj/
[L]og/

# Diretório cache/options do Visual Studio 2015
.vs/
# Descomente se você tiver tarefas que criam os arquivos estáticos do projeto em wwwroot
#wwwroot/

# Resultados do teste MSTest
[Tt]est[Rr]esultado*/
[Bb]uild[Ll]og.*

# NUNIT
*.VisualState.xml
TestResult.xml

# Resultados da construção de um projeto ATL
[Dd]ebugPS/
[Rr]liberarPS/
dlldata.c

# DNX
projeto.lock.json
projeto.fragmento.bloqueio.json
artefatos/

*_i.c
*_p.c
*_i.h
*.leite
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.registro
*.vspscc
*.vssscc
.construções
*.pidb
*.svclog
*.scc

# Arquivos de teste Chutzpah
_Chutzpah*

# Arquivos de cache do Visual C++
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb

# Profiler do Visual Studio
*.pses
*.vsp
*.vspx
*.seiva

# Espaço de trabalho local do TFS 2012
$tf/

# Kit de Ferramentas de Automação de Orientação
*.gpState

# ReSharper é um complemento de codificação .NET
_ReSharper*/
*.[Rr]e[Ss]mais nítido
*.DotSettings.user

# JustCode é um complemento de programação .NET
.JustCode

# TeamCity é um complemento de construção
_TeamCity*

# DotCover é uma ferramenta de cobertura de código
*.dotCover

# Resultados de cobertura de código do Visual Studio
*.cobertura
*.coveragexml

#NCrunch
_NCrunch_*
.*crunch*.local.xml
nCrunchTemp_*

#AlcePoderoso
*.mm.*
AutoTest.Net/

# Ambiente de trabalho web (sass)
.sass-cache/

# Pasta de saída do InstallShield
[Ee]xpress/

# DocProject é um complemento gerador de documentação
DocProject/buildhelp/
DocProject/Help/*.HxT
DocProject/Help/*.HxC
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/Html2
DocProject/Ajuda/html

# Diretório Click-Once
publicar/

# Publicar saída na Web
*.[Pp]publico.xml
*.azurePubxml
# TODO: Comente a próxima linha se desejar confirmar suas configurações de implantação na web.
# Mas as cadeias de conexão do banco de dados (com possíveis senhas) não serão criptografadas.
*.pubxml
*.publishproj

# Configurações de publicação do Microsoft Azure Web App. Comente a próxima linha se desejar
# Faça o check-in das suas configurações de publicação do Azure Web App, mas as informações confidenciais estão contidas.
# nesses scripts não serão criptografados
Publicar Scripts/

# Pacotes NuGet
*.nupkg
A pasta de pacotes pode ser ignorada devido à restauração de pacotes.
**/pacotes/*
# exceto build/, que é usado como um alvo do MSBuild.
!**/packages/build/
# Descomente se necessário, porém, geralmente, ele será regenerado quando necessário.
#!**/packages/repositories.config
# Os arquivos project.json do NuGet v3 geram mais arquivos ignoráveis
*.nuget.props
*.nuget.targets

# Saída de compilação do Microsoft Azure
csx/
*.build.csdef

# Emulador do Microsoft Azure
ecf/
rcf/

# Diretórios e arquivos de pacotes de aplicativos da Windows Store
Pacotes de Aplicativos/
BundleArtifacts/
Pacote.StoreAssociation.xml
_pkginfo.txt

# Arquivos de cache do Visual Studio
# Arquivos com extensão .cache podem ser ignorados
*.[Cc]ache
# mas mantenha o controle dos diretórios que terminam em .cache
!*.[Cc]ache/

# Outros
ClientBin/
~$*
*~
*.dbmdl
*.dbproj.schemaview
*.jfm
*.pfx
*.configuraçõesdepublicação
node_modules/
orleans.codegen.cs

Como existem vários fluxos de trabalho, remova o comentário da linha seguinte para ignorar bower_components.
# (https://github.com/github/gitignore/pull/1529#issuecomment-104372622)
#componentes_bower/

# Projetos RIA/Silverlight
Código_Gerado/

# Faça backup e gere relatórios dos arquivos resultantes da conversão de um arquivo de projeto antigo
# para uma versão mais recente do Visual Studio. Não são necessários arquivos de backup.
# porque temos git ;-)
_UpgradeReport_Files/
Backup*/
UpgradeLog*.XML
UpgradeLog*.htm

# Arquivos do SQL Server
*.mdf
*.ldf

# Projetos de Business Intelligence
*.rdl.dados
*.bim.layout
*.bim_*.configurações

# Microsoft Falsificações
FalsasAssemblies/

# Arquivo de configuração do plugin GhostDoc
*.GhostDoc.xml

# Ferramentas Node.js para Visual Studio
.ntvs_analysis.dat

# Log de compilação do Visual Studio 6
*.plg

# Arquivo de opções do espaço de trabalho do Visual Studio 6
*.optar

# Saída de compilação do Visual Studio LightSwitch
**/*.HTMLClient/GeneratedArtifacts
**/*.DesktopClient/GeneratedArtifacts
**/*.DesktopClient/ModelManifest.xml
**/*.Server/GeneratedArtifacts
**/*.Server/ModelManifest.xml
_Extensões_privadas

# Gerenciador de dependências de pacotes
.paket/paket.exe
pacotes/

# FALSO - F# Faça
.falso/

# JetBrains Rider
.ideia/
*.sln.iml

# CodeRush
.cr/

# Ferramentas Python para Visual Studio (PTVS)
__pycache__/
*.pyc

# Bolo - Descomente se você estiver usando
# ferramentas/

# Fim de https://www.toptal.com/developers/gitignore/api/aspnetcore